.site-footer {
  @include clearfix;
  background: $color__footer-bg;
  color: white;
  padding: 2rem;

  @media screen and (min-width: $bp__medium) {
    padding: 3rem 2rem 2rem;
  }

  h2 {
    color: white;
    font-size: 1.2rem;
  }

  p {
    margin-top: 0;
  }

  a {
    color: white;
    display: inline-block;
    font-size: 1em;
    padding: .2rem 0;
    text-decoration: none;
    transition: color .1s ease-in-out;
    @media screen and (mmax-width: $bp__small) {
      padding: .4rem .8rem;
      transform: translateX(-.8rem);
    }
  }

  a:hover,
  a:focus {
    color: rgba(white, .6);
  }

  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .footer-logo a {
    display: block;
  }

  .footer-widget-area {

    .widget-title {
      margin: 0 0 .5em;
    }

    .footer-widget {
      margin-bottom: $site__margin;
    }

    .footer-widget:first-of-type .widget_media_image {
      text-align: center;
    }

    .footer-widget:last-of-type {
      margin-bottom: 0;
    }

    .widget_media_image {
      text-align: center;
    }

    @media (min-width: $bp__small) {
      display: grid;
      grid-column-gap: 4rem;
      grid-row-gap: 4rem;
      grid-template-columns: 1fr 1fr;

    }
    @media (min-width: $bp__medium) {
      grid-template-columns: 1.5fr 1fr 1fr;
      .footer-widget:nth-child(2) {
        .widget-title {
          text-align: right;
        }
        .menu {
          text-align: right;
        }
      }
    }
  }

  .footer-contact-section {
    margin-bottom: 1em;

    .footer-social-media-icons {
      margin-top: .5em;

      svg[class^="flyspace-icon-"] {
        height: 1.8em;
        margin-right: .3em;
        stroke: white;
        width: 1.8em;
        fill: white;
        path {
          fill: white;
        }
      }
    }
  }

  .copyright-and-terms {
    color: rgba(white, .5);
    text-align: center;

    a {
      color: rgba(white, .5);
      text-decoration: underline;
    }

    a:hover, a:target {
      color: rgba(white, .8);
    }
  }
} 