$button__color: $color__secondary;

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.button {
	border: 1px solid $button__color;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	background: $button__color;
	font-size: 1rem;
	line-height: 1rem;
	margin: 0;
	padding: .5em 1em;
	text-align: center;
	text-decoration: none;
	transition: background .1s ease-in-out, 
							border-color .1s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	&:hover, &:focus {
		background: darken($button__color, 10);
		border-color: darken($button__color, 10);
	}
	&:focus {
		outline: 1px solid #fff;
		outline-offset: -4px;
	}
	&:active {
		transform: scale(0.99);
	}
}

a.button:visited,
a.button:hover {
	color: white;
}