$bp__nav: 850px;

.main-navigation {
	clear: both;
	
	#primary-menu {
		@include clearfix;

	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
	}

	a {
		text-decoration: none !important;
	}
	
	@media screen and (max-width: $bp__nav) {
		.main-nav-drawer {
			@include clearfix;
			background: $color__black;
			bottom: 0;
			height: 100%;
			right: -20em;
			overflow: auto;
			padding: 1em;
			position: fixed;
			transition: right .25s ease-in-out;
			width: 18em;
			z-index: 10000;
		}

		a {
			color: white;
		}
	}

}

body.admin-bar .main-navigation .main-nav-drawer {
	top: 46px;
}

/* Small menu. */
.menu-toggle {
	display: block;
}
.menu-toggle-inside {
	color: white;
	cursor: pointer;
	display: block;
	svg {
		height: 1em;
		stroke: white;
		width: 1em;
	}
}

.main-navigation.toggled .main-nav-drawer {
	right: 0;
}

@media screen and (min-width: $bp__nav) {
	.menu-toggle,
	.menu-toggle-inside {
		display: none;
	}

	.main-navigation {
		#primary-menu > ul > li {
			display: inline;
		}
		a {
			display: inline-block;
			padding: .4em .8em;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
