$bp__nav: 850px;

.main-navigation {
	clear: both;
	
	#primary-menu {
		@include clearfix;

	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
	}

	a {
		text-decoration: none !important;
	}
	
	@media screen and (max-width: $bp__nav) {
		#primary-menu {
			width: 100%;
		}
		.main-nav-drawer {
			@include clearfix;
			background: $color__black;
			bottom: 0;
			height: 100%;
			right: -20em;
			overflow: auto;
			position: fixed;
			transition: right .25s ease-in-out;
			width: 18em;
			z-index: 999999; /* Put it above the WP admin menu */
		}

		a {
			border-bottom: 1px solid rgb(59, 59, 59);
			color: white;
			display: block;
			font-size: 1.1em;
			padding: 1em 2em;
			width: 100%;
		}
	}

}

body.admin-bar .main-navigation .main-nav-drawer {
	//top: 46px;
}

/* Small menu. */
.menu-toggle {
	display: block;
	vertical-align: center;
	font-size: 1.1rem;
	svg {
		height: 1rem;
		margin-right: 0;
		stroke: white;
		width: 1rem;
	}
}
.menu-toggle-inside {
	border-bottom: 1px solid rgb(59, 59, 59);
	color: white;
	cursor: pointer;
	color: white;
	display: block;
	font-size: 1.1rem;
	padding: 1em 2em;
	width: 100%;
	svg {
		height: 1em;
		stroke: white;
		width: 1em;
	}
}

.main-navigation.toggled .main-nav-drawer {
	right: 0;
}

@media screen and (min-width: $bp__nav) {
	.menu-toggle,
	.menu-toggle-inside {
		display: none;
	}

	.main-navigation {
		#primary-menu > li {
			display: inline;
		}
		a {
			display: inline-block;
			font-size: 1.2rem;
			padding: .4em .8em;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
