.flyspace-highlights {
  color: white;
  margin: 0 auto;
  max-width: $width__large;
  padding: 2rem;

  .wp-block-column {
    //transform: scale(.95);
    background: $color__secondary;
    padding: 1rem;
    //transition: transform .2s ease-in-out;
    &:hover {
      //transform: scale(1);
    }
  }

  .wp-block-column:nth-child(3n-1) {
    background: $color__primary;
    h2, h3, h4, h5, h6 {
      &:after {
        transform: rotate(90deg)
      }
    }
  }

  .wp-block-column:nth-child(3n) {
    background: $color__secondary-lt;
    h2, h3, h4, h5, h6 {
      &:after {
        transform: rotate(180deg)
      }
    }
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    text-align: center;
    &:after {
      content: url('img/mark.png');
      height: 30px;
      width: 30px;
      display: block;
      margin: 20px auto;
    }
  }
}

.wp-block-batten-blocks-batten-bio {
  background: $color__primary;

  .bio-image img {
    transition: transform .8s ease-in-out,
                filter .4s ease-out;
  }

  &.off-screen .bio-image img {
    filter: blur(4px);
    transform: scale(1.1);
  }

  .bio-subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  a, a:visited {
    color: white;
  }

  a:hover, a:focus {
    color: rgba(white, .7);
  }
}

.wp-block-batten-blocks-batten-quotation {
  background-attachment: fixed;
}

.flyspace-feature-block {
  background: $color__primary;
  color: white;
  padding: 2rem;
  p {
    font-size: 1.4rem;
    max-width: $width__medium;
    margin: 1.4rem auto;
    width: 90%;
  }
  .button {
    font-size: 1.3rem;
    padding: 1rem 2rem;
  }
  .button.scroll-animate {
    transition: transform .5s ease-in-out;
  }
  .button.on-screen {
    animation-delay: .6s;
    animation-duration: .5s;
    animation-name: wiggle;
    animation-timing-function: ease-in-out;
  }
}

.flyspace-cta-block {
  background: $color__secondary-lt;
  color: white;
  padding: 2rem;
  p {
    font-size: 1.4rem;
    max-width: $width__medium;
    margin: 1.4rem auto;
    width: 90%;
  }
  .button {
    font-size: 1.3rem;
    padding: 1rem 2rem;
  }
  .button.scroll-animate {
    transition: transform .5s ease-in-out;
  }
  .button.on-screen {
    animation-delay: .6s;
    animation-duration: .5s;
    animation-name: wiggle;
    animation-timing-function: ease-in-out;
  }
}

.flyspace-cta-buttons {
  padding: 2rem;
  .button {
    font-size: 1.3rem;
    padding: 1rem 1rem;
    margin: .5em;
  }
  .button.scroll-animate {
    transition: transform .5s ease-in-out;
  }
  .button.on-screen {
    animation-delay: .6s;
    animation-duration: .5s;
    animation-name: wiggle;
    animation-timing-function: ease-in-out;
  }
}

/* Deal with regular blocks */

.entry-content > p {
  font-size: 1.2rem;
  max-width: $width__medium;
  margin: 1.4rem auto;
  width: 90%;
}

.entry-content > ul,
.entry-content > ol {
  font-size: 1.2rem;
  max-width: $width__medium;
  margin: 1.4rem auto 2.4rem;;
  width: 90%;
}

.entry-content > p:first-child {
  font-size: 1.4rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.entry-content > h2,
.entry-content > h3,
.entry-content > h4,
.entry-content > h5,
.entry-content > h6 {
  color: $color__secondary;
  max-width: $width__medium;
  margin: 2.4rem auto 1rem;
  width: 90%;
}

.entry-content > blockquote,
.entry-content > figure {
  max-width: $width__medium;
  margin: 0 auto;
  width: 90%;
}

.entry-content > .wpcf7 {
  max-width: 600px;
  margin: 3rem auto;
  width: 90%;
}

.entry-content > .wp-block-quote {
  max-width: 100%;
  margin: 0;
  width: 100%;
  padding: 2rem 0;

  &:nth-child(2n) {
    background: $color__secondary;
    color: white;
    a {
      color: white;
    }
  }

  p {
    font-size: 1.2em;
    margin: 0 auto 1.4rem;
    max-width: $width__medium;
    width: 90%;
  }
  cite {
    display: block;
    margin: 0 auto;
    max-width: $width__medium;
    width: 90%;
  }
  cite::before {
    display: inline-block;
    content: "\2014";
  }

}

